.transitionDiv {
    transition: all 0.6s ease;
    opacity: 1;
    
  }
  
  @keyframes inAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
  
  @keyframes outAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  