body {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif !important;
                                                 
}

.MuiAppBar-root {
  box-shadow: none !important;
}

.MuiToolbar-regular {
  min-height: 48px !important;
}
