body {
  font-family: "Neue Haas Grotesk Display Pro" !important;
}

.css-96myve-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
}

.css-hyum1k-MuiToolbar-root {
  min-height: 48px !important;
}
